spring:
  application:
    name: SpotAlert

  data:
    mongodb:
      uri: ${MONGO_URI}
      database: spot_alert_Spots
  redis:
    host: localhost
    port: 6379
    cache:
      type: redis

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator

  endpoint:
    health:
      show-details: always

osrm:
  base-url: http://localhost:5000
  profile: driving
  timeout-ms: 5000
